@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/" method="post">
  <label for="place-name">Where did you go?</label>
  <input id="place-name" name="place-name" type="text">
  <button type="submit" name="button">Submit</button>
</form>
