@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/view_all_places" method="post">
  <label for="place-name">Where have you been?</label>
  <input id="place-name" name="place-name" type="text">
  <button type="submit" name="button">Submit</button>
</form>

<p><a href="/view_all_places">View a list of all the places you've visited.</a></p>
