@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/view_all_places" method="post">
  <label for="place-name">Where have you been?</label>
  <input id="place-name" name="place-name" type="text">

  <label for="year-visited">What year did you go?</label>
  <input id="year-visited" name="year-visited" type="text">

  <label for="fav-thing">What was your favorite thing about it?</label>
  <input id="fav-thing" name="fav-thing" type="text">

  <button type="submit" name="button">Submit</button>
</form>

<p><a href="/view_all_places">View a list of all the places you've visited.</a></p>
